.table-container {
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  border-radius: 8px;

  table {
    width: 100%;
  }
}

.main-body  {
  padding-top: 20px;
  mat-form-field  {
    width: 100%;
  }
}

.status-icon {
  font-size: 20px; /* Adjust the size of the icon */
  vertical-align: middle; /* Ensure vertical alignment if not using Flexbox */
}

.status-active {
  color: #2196f3; 
}

.status-pending {
  color: #FFD700; 
}

.status-inactive {
  color: #f44336; 
}

.status-default {
  color: gray; 
}



