<form novalidate class="ng-dirty ng-touched ng-valid">
  <div class="content-header">
    <h3 class="ng-star-inserted" style="text-align: center;">
      Before continuing with registration, the applicant needs to give consent:
    </h3><br>
  </div>

  <div class="row">
    <div class="col-lg-10 offset-lg-1">
      <div style="border: solid 2px; height: 50vh; overflow-y: auto;" class="ng-star-inserted">
        <iframe src="./assets/docs/consent-form.pdf" style="width: 100%; height: 100%;"></iframe>
      </div>
    </div>
  </div>
  <br>

  <div class="row">
    <div class="col-lg-10 offset-lg-1">
      <div class="form-group">
        <mat-checkbox required name="consentConfirm" id="consentConfirm">
          Please confirm that you, as the registrar, have explained the consent to the applicant.
        </mat-checkbox>

      </div>
    </div>
  </div>
</form>
