.fancy-card {
  margin: 20px auto;
  border-radius: 8px;
  padding: 16px;
  position: relative;
  box-shadow: 4px 0 10px rgba(0, 0, 0, 0.2);

  .member-since-badge {
    position: absolute;
    top: -14px;
    left: 0;
    background-color: #1f2937;
    color: white;
    padding: 4px 8px;
    font-size: 0.875rem;
    font-weight: bold;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    transform: translateX(-7px);
    z-index: 1;
  }

  .mat-card-header {
    display: flex;
    justify-content: center;
    padding-bottom: 8px;
  }

  .text-title {
    font-size: 1.5rem;
    font-weight: 500;
    color: #424242;
  }

  .details {
    margin-top: 12px;
    font-size: 1rem;
    color: #616161;

    p {
      display: flex;
      margin: 8px 0;

      strong {
        color: #212121;
        width: 180px;
        display: inline-block;
      }

      span {
        flex: 1;
      }
    }
  }
}

.buttonCustomColor  {
  background-color: #B8860B !important;
}

.backButtonCustomColor {
  background-color: #424242;
  color: white;
}
