.fancy-card {
  margin: 20px auto;
  border-radius: 8px;
  padding: 16px;
  box-shadow: 4px 0 10px rgba(0, 0, 0, 0.2);
  background-color: #fafafa;

  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 8px;

    .header-title {
      font-size: 1.5rem;
      font-weight: 600;
      color: #424242;
    }
  }

  .member-since-badge {
    background-color: #3a3f51;
    color: #f5f5f5;
    padding: 4px 8px;
    font-size: 0.875rem;
    font-weight: 500;
    border-radius: 12px;
    display: flex;
    align-items: center;
    gap: 4px;

    .badge-icon {
      font-size: 1rem;
      color: #ffdd57;
    }
  }

  .content {
    padding: 0 16px;

    .info-section {
      padding: 8px 0;
      border-bottom: 1px solid #ddd;

      .section-title {
        font-size: 1.1rem;
        color: #616161;
        font-weight: 500;
        margin-bottom: 4px;
      }

      p {
        display: flex;
        margin: 4px 0;
        font-size: 0.95rem;
        color: #424242;

        strong {
          width: 150px;
          font-weight: 600;
          color: #333;
        }
      }
    }
  }

  .actions {
    display: flex;
    justify-content: space-between; /* Distributes buttons across the full width */
    width: 100%;

    .spacer {
      flex-grow: 1; /* This will push the second button to the right */
    }

    .buttonCustomColor {
      background-color: #B8860B;
      color: #ffffff;

      &:hover {
        background-color: #DAA520;
      }
    }

    .backButtonCustomColor {
      background-color: #424242;
      color: white;

      &:hover {
        background-color: #333333;
      }
    }
  }
}
