<h2 mat-dialog-title class="text-title text-center">Add Family Member</h2>
<div mat-dialog-content class="content">
  <form [formGroup]="form">
    <div class="flex gap-4">
      <div class="w-1/2">
        <app-text-input label="First name" formControlName="firstName" />
      </div>
      <div class="w-1/2">
        <app-text-input label="Last name" formControlName="lastName" />
      </div>
    </div>
    <div class="flex gap-4">
      <div class="w-1/2">
        <mat-form-field appearance="outline" class="w-full">
          <mat-label>Date of Birth</mat-label>
          <input matInput [matDatepicker]="picker" formControlName="dateOfBirth">
          <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
          <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>
      </div>
      <div class="w-1/2">
        <app-text-input label="Age" formControlName="age" />
      </div>
    </div>

    <div class="row">
      <mat-form-field appearance="outline">
        <mat-label>Gender</mat-label>
        <mat-select formControlName="genderId">
          <mat-option *ngFor="let g of genders" [value]="g.id">{{ g.name }}</mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label>Relationship</mat-label>
        <mat-select formControlName="relationshipId">
          <mat-option *ngFor="let r of relationships" [value]="r.id">{{ r.name }}</mat-option>
        </mat-select>
      </mat-form-field>
    </div>
    <div class="flex gap-4">
      <div class="w-1/2">
        <app-text-input label="Phone number" formControlName="phoneNumber" />
      </div>
      <div class="w-1/2">
        <app-text-input label="Email address" formControlName="email" />
        <!-- <app-text-input label="Email address" formControlName="email" /> -->
      </div>
    </div>
    <div class="row">
      <div class="col-lg-10 offset-lg-1">
        <div class="form-group">
          <mat-checkbox formControlName="isBeneficiary">
            Beneficiary
          </mat-checkbox>
        </div>
      </div>
    </div>

    @if (validationErrors) {
    <div class="mb-3 p-4 bg-red-100 text-red-600">
      <ul class="list-disc px-3">
        @for (error of validationErrors; track $index) {
        <li>{{error}}</li>
        }
      </ul>
    </div>
    }
  </form>
</div>
<div>
  <mat-dialog-actions class="flex gap-4">
    <button mat-flat-button mat-dialog-close="false" class="backButtonCustomColor">
      <mat-icon>cancel</mat-icon>
      Cancel
    </button>
    <button [disabled]="form.invalid" mat-flat-button (click)="save()" class="buttonCustomColor">
      <mat-icon>save</mat-icon>
      Save
    </button>
  </mat-dialog-actions>
</div>
