.content {
  padding-top: 10px;
}

.row {
  display: flex;
  gap: 10px;

  mat-form-field {
    width: 100%;
  }
}

.action {
  padding: 0px 25px 20px;
  flex: 1 !important;
}

.text-title {
  font-size: 1.5rem;
  font-weight: 500;
  color: #424242;
}

button {
  display: flex;
  align-items: center;
  justify-content: center;
  flex: 1;
  padding: 8px 16px;
}

.buttonCustomColor {
  background-color: #424242 !important; /* Default background */
  color: white; /* Default text color */
  border-radius: 0 8px 8px 0;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 8px 16px;
}

.buttonCustomColor:disabled {
  background-color: #9e9e9e !important; /* Disabled state background */
  color: #bdbdbd !important; /* Disabled state text color */
  cursor: not-allowed; /* Visual indication of disabled state */
}


.backButtonCustomColor {
  background-color: #E53935;
  color: white;
  border-radius: 8px 0 0 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 8px 16px;
}

.mat-icon {
  margin-right: 8px;
}

.mat-dialog-actions {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 0;
}

::ng-deep .mat-datepicker-content {
  z-index: 1000;
}



