<footer class="bg-gray-900 text-gray-400 text-xs py-0.5 w-full fixed bottom-0">
  <div class="max-w-screen-2xl mx-auto flex items-center justify-between px-4">
    <span>&copy; 2024 REST<span class="text-yellow-600">POINT</span>. All rights reserved.</span>
    <div class="flex space-x-2">
      <a href="#" class="hover:text-yellow-600">Privacy Policy</a>
      <a href="#" class="hover:text-yellow-600">Terms of Service</a>
      <a href="#" class="hover:text-yellow-600">Contact Us</a>
    </div>
  </div>
</footer>
